streamlit==1.41.1
streamlit-option-menu==0.4.0
streamlit_folium==0.24.0
pandas==2.2.3
numpy==1.26.4
folium==0.19.4
plotly==5.24.1
beautifulsoup4==4.12.3
requests==2.32.3
selenium==4.27.1
webdriver-manager==4.0.2
nltk==3.9.1
textblob==0.18.0.post0
scikit-learn==1.5.2
scipy==1.13.1
gensim==4.3.3
wordcloud==1.9.3
nrclex==3.0.0
mistralai==1.2.6
python-dotenv==1.0.1
